/* R E S P O N S I V E */
@media only screen and (max-width: 1400px){
    .gt3_module_blog .blog_post_preview .blogpost_title {
        font-size: 25px;
        line-height: 1.2;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content .packery_content_wrap {
        padding-left: 60px;
        padding-right: 40px;
        font-size: 16px;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview.format-quote .packery_content_wrap,
    .gt3_module_blog.packery_wrapper .blog_post_preview.format-link .packery_content_wrap {
        bottom: 90px;
    }
}
@media only screen and (max-width: 1230px){
    .gt3_module_blog .blog_post_preview .blogpost_title {
        font-size: 24px;
        line-height: 30px;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content .packery_content_wrap {
        font-size: 0;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content .packery_content_wrap .quote_text,
    .packery_wrapper .blog_post_media--link .blog_post_media__link_text a, {
        font-size: 16px;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview.format-quote .packery_content_wrap,
    .gt3_module_blog.packery_wrapper .blog_post_preview.format-link .packery_content_wrap {
        bottom: 70px;
    }
    .blog_post_preview.format-quote .blog_post_media--quote .quote_text {
        font-size: 20px;
    }
    .static_info_text_block .title{
        font-size: 20px;
    }
    .static_info_text_block .sub_title{
        font-size: 40px;
    }
    .static_info_text_block .content{
        margin-bottom: 15px;
    }
    .elementor-element.elementor-widget-gt3-core-blog .elementor-widget-container .gt3_module_blog .isotope_blog_items .static_info_text_block .item_wrapper .item,
    .elementor-element.elementor-widget-gt3-core-portfolio .elementor-widget-container .portfolio_wrapper .isotope_wrapper .static_info_text_block .item_wrapper .item{
        padding-left: 10px;
    }
    .gt3-page-title__content{
        padding: 0 50px;
        width: calc(100% - 100px);
    }
}
@media only screen and (max-width: 1199px){
    .container,
    .main_footer .container{
        width: 998px;
    }
    .main_footer .container{
        overflow: hidden;
    }
    .gt3-page-title__content{
        padding: 0 40px;
        width: calc(100% - 80px);
    }
}

@media only screen and (max-width: 1023px){
    .container,
    .main_footer .container{
        width: 740px;
    }
    .top_footer .row [class*=span]{
        margin-bottom: 35px;
    }
    .slick-arrow:not(.gt3_modified).slick-next{
        right: 30px;
    }
    .slick-arrow:not(.gt3_modified).slick-prev {
        left: 30px;
    }
    .elementor-element.elementor-widget-gt3-core-blog .elementor-widget-container .gt3_module_blog .isotope_blog_items .static_info_text_block .item_wrapper .item,
    .elementor-element.elementor-widget-gt3-core-portfolio .elementor-widget-container .portfolio_wrapper .isotope_wrapper .static_info_text_block .item_wrapper .item{
        padding-left: 10px;
    }
}
@media only screen and (max-width: 992px) and (min-width: 900px){
    .static_info_text_block .sub_title{
        font-size: 32px;
        margin-bottom: 10px;
    }
    .gt3_module_blog.packery_wrapper .packery_content_wrap{
        bottom: 50px;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content .packery_content_wrap {
        padding-left: 60px;
        padding-right: 20px;
    }
    .gt3_module_blog .blog_post_preview .blogpost_title {
        font-size: 22px;
        line-height: 28px;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content .packery_content_wrap {
        display: block;
        width: 100%;
    }
    .elementor-element.elementor-widget-gt3-core-blog .elementor-widget-container .gt3_module_blog .isotope_blog_items .static_info_text_block .item_wrapper .item,
    .elementor-element.elementor-widget-gt3-core-portfolio .elementor-widget-container .portfolio_wrapper .isotope_wrapper .static_info_text_block .item_wrapper .item {
        left: 10px;
    }
    .elementor-element.elementor-widget-gt3-core-blog .elementor-widget-container .gt3_module_blog .isotope_blog_items .static_info_text_block .item_wrapper .item,
    .elementor-element.elementor-widget-gt3-core-portfolio .elementor-widget-container .portfolio_wrapper .isotope_wrapper .static_info_text_block .item_wrapper .item{
        padding-left: 10px;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content span.post_category {
        top: 2px;
        right: 5px;
    }
    .blog_post_media--link .blog_post_media__link_text a {
        font-size: 20px;
    }
    .blog_post_media--link .blog_post_media__link_text p {
        font-size: 14px;
    }
    .gt3_module_blog.packery_wrapper .packery_blog_item_1 .item_wrapper .blog_content .packery_content_wrap,
    .gt3_module_blog.packery_wrapper .packery_blog_item_4 .item_wrapper .blog_content .packery_content_wrap,
    .gt3_module_blog.packery_wrapper .packery_blog_item_9 .item_wrapper .blog_content .packery_content_wrap,
    .gt3_module_blog.packery_wrapper .packery_blog_item_12 .item_wrapper .blog_content .packery_content_wrap {
        padding-left: 50px;
        padding-right: 15.5%;
    }
}

@media only screen and (max-width: 899px) and (min-width: 768px){
    .gt3_module_blog.packery_wrapper .packery_content_wrap {
        bottom: 100px;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content .packery_content_wrap {
        font-size: 0px;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview.format-quote .packery_content_wrap,
    .gt3_module_blog.packery_wrapper .blog_post_preview.format-link .packery_content_wrap{
        bottom: 140px;
        width: 100%;
    }
}
@media only screen and (max-width: 767px){
    .main_footer .container,
    .container{
        width: 560px;
    }
    .top_footer .row [class*=span]:last-child{
        margin-bottom: 0;
    }
    .sidebar-container{
        padding-top: 35px;
    }
    .mobile_text_center{
        text-align: center;
    }
    .blog_type2 .has_post_thumb .blog_content{
        padding-left: 105px;
    }
    .blog_type2 .has_post_thumb .blog_post_media{
        width: 80px;
    }
    .elementor-widget-gt3-core-testimonials .module_testimonial.style4{
        padding-top: 10px;
    }
    #respond form#commentform .span6 {
        width: 100%;
    }
    .isotope-filter a {
        padding: 7px 0;
    }
    .gt3_author_box,
    ol.commentlist li .stand_comment {
        padding-left: 60px;
    }
    .gt3_author_box__avatar,
    ol.commentlist li .commentava {
        width: 40px;
        height: 40px;
    }
    ol.commentlist li .commentava {
        top: 10px;
    }
    .single_post_info > div {
        display: block;
    }
    .wpcf7-form .contact-page input[type='submit'],
    .form-submit button {
        padding: 12px 20px;
    }
    .fw_comments #comments > #respond form#commentform > p.form-submit button,
    .wpcf7-form .contact-page input[type='submit'],
    .form-submit button {
        margin-top: 30px;
    }
    .widget_text img.aligncenter {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #comments ol.commentlist ul.children {
        margin-left: 20px;
    }
    .commentlist .comment:before,
    #comments ol.commentlist ul.children li .stand_comment .commentava:before {
        display: none;
    }
    .comment_info{
        padding-right: 0;
    }
    .comment-reply-link {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        font-style: italic;
    }
    ol.commentlist li .stand_comment {
        padding-bottom: 15px;
    }
    .comment_info .listing_meta {
        margin-bottom: 5px;
    }
    .footer_back2top svg,
    .footer_back2top .gt3_back2top{
        left: 1px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 600px){
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content .packery_content_wrap {
        font-size: 14px;
    }
    .gt3_module_blog .blog_post_preview .blogpost_title{
        font-size: 22px;
    }
    .gt3_module_blog.packery_wrapper .packery_blog_item_1 .item_wrapper .blog_content .packery_content_wrap,
    .gt3_module_blog.packery_wrapper .packery_blog_item_4 .item_wrapper .blog_content .packery_content_wrap,
    .gt3_module_blog.packery_wrapper .packery_blog_item_9 .item_wrapper .blog_content .packery_content_wrap,
    .gt3_module_blog.packery_wrapper .packery_blog_item_12 .item_wrapper .blog_content .packery_content_wrap {
        padding-left: 40px;
        padding-right: 10.5%;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content .packery_content_wrap{
        font-size: 0;
    }
}
@media only screen and (max-width: 615px) and (min-width: 600px){
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content .packery_content_wrap {
        font-size: 14px;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview {
        width: 100% !important;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview *,
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content span.post_category,
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content .packery_content_wrap {
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content {
        padding-top: 30px;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content > .blog_post_media__icon {
        display: none;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content span.post_category {
        padding: 0 30px 30px 30px;
        display: block;
    }
    .gt3-page-title__content{
        padding: 0 35px;
        width: calc(100% - 70px);
    }
}
@media only screen and (max-width: 599px) and (min-width: 320px){
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content .packery_content_wrap {
        font-size: 14px;
    }
    .gt3_module_blog .blog_post_preview .blogpost_title{
        font-size: 22px;
    }
    a.page_title_post_link.prev_link, a.page_title_post_link.next_link{
        display: none;
    }
}

@media only screen and (max-width: 599px){
    .main_footer .container,
    .container{
        width: 420px;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview {
        width: 100% !important;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview *,
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content span.post_category,
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content .packery_content_wrap {
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content {
        padding-top: 30px;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview.format-quote .blog_content .packery_content_wrap,
    .gt3_module_blog.packery_wrapper .blog_post_preview.format-link .blog_content .packery_content_wrap {
        padding-bottom: 30px !important;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content span.post_category {
        padding: 0 30px 30px 30px;
        display: block;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content > .blog_post_media__icon {
        display: none;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview .blog_content .packery_content_wrap{
        padding-left: 60px;
        padding-right: 30px;
    }
    .gt3_module_blog.packery_wrapper .static_info_text_block .sub_title {
        display: none !important;
    }
    .elementor-widget-gt3-core-portfolio .portfolio_wrapper .packery_blog_item_4 .wrapper .text_wrap,
    .elementor-widget-gt3-core-portfolio .portfolio_wrapper .packery_blog_item_7 .wrapper .text_wrap,
    .elementor-widget-gt3-core-portfolio .portfolio_wrapper .packery_blog_item_8 .wrapper .text_wrap{
        text-align: left;
    }
}
@media only screen and (max-width: 479px){
    .main_footer .container,
    .container{
        width: 90%;
    }
    .gt3-page-title__content .page_title,
    .gt3-page-title__content .gt3_breadcrumb,
    .gt3-page-title__content .page_sub_title{
        display: block;
    }
}

@media only screen and (max-width: 600px){
    .static_info_text_block {
        width: 100% !important;
        height: auto !important;
        padding: 30px 0 !important;
    }
    .elementor-element.elementor-widget-gt3-core-blog .elementor-widget-container .gt3_module_blog .isotope_blog_items .static_info_text_block .item_wrapper .item {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .elementor-element.elementor-widget-gt3-core-portfolio .elementor-widget-container .portfolio_wrapper .isotope_wrapper .static_info_text_block .item_wrapper .item {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
}

@media only screen and (max-width: 1200px){
    .gt3_hide_on_desktop{
        display: none !important;
    }
}

@media only screen and (max-width: 1400px){
    .elementor-widget-gt3-core-counter .elementor-widget-container {
        border: none !important;
    }
}

@media only screen and (max-width: 992px){
    .gt3_hide_on_tablet{
        display: none !important;
    }
}

@media only screen and (max-width: 768px){
    .gt3_hide_on_mobile{
        display: none !important;
    }
    .elementor-column-wrap .elementor-widget-gt3-core-counter .elementor-widget-container .counter-wrapper.icon_type-icon{
        display: inline-block;
    }
    .gt3_center_button{
        text-align: center;
    }
    .elementor-widget-gt3-core-tabs .gt3_tabs_nav li a {
        margin-right: 0 !important;
    }
    .elementor-column-wrap .elementor-widget-gt3-core-counter .elementor-widget-container .counter-wrapper .counter,
    .elementor-column-wrap .elementor-widget-gt3-core-counter .elementor-widget-container .counter-wrapper .description {
        text-align: center;
    }
    .elementor-widget-gt3-core-sharing .gt3_sharing_core.align_right {
        text-align: left;
    }
    .gt3_module_blog:not(.packery_wrapper) .blog_post_preview.format-quote .blog_content,
    .gt3_module_blog:not(.packery_wrapper) .blog_post_preview.format-link .blog_content{
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 1400px){
    .gt3_module_blog .blog_post_preview:not(.format-quote):not(.format-link):not(.format-standard):not(.format-video) .packery_content_wrap:before,
    .gt3_module_blog .blog_post_preview.format-video .packery_content_wrap:before,
    .gt3_module_blog .blog_post_preview.format-standard .packery_content_wrap:before {
        left: 17px;
    }
    .blog_post_media__icon--link:before,
    .blog_post_media__icon--quote:before {
        font-size: 25px;
    }
    .gt3_module_blog.packery_wrapper .packery_blog_item_1 .item_wrapper .blog_content .packery_content_wrap,
    .gt3_module_blog.packery_wrapper .packery_blog_item_4 .item_wrapper .blog_content .packery_content_wrap,
    .gt3_module_blog.packery_wrapper .packery_blog_item_9 .item_wrapper .blog_content .packery_content_wrap,
    .gt3_module_blog.packery_wrapper .packery_blog_item_12 .item_wrapper .blog_content .packery_content_wrap{
        padding-left: 60px;
    }
    .gt3_module_blog.packery_wrapper .blog_post_preview.format-quote .packery_content_wrap,
    .gt3_module_blog.packery_wrapper .blog_post_preview.format-link .packery_content_wrap {
        padding-left: 40px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 899px){
    .static_info_text_block .sub_title {
        display: none;
    }
}


@media only screen and (min-width: 899px) and (max-width: 1280px){
    .gt3_module_blog.packery_wrapper .blog_post_preview.format-quote .blog_post_media--quote .quote_text,
    .gt3_module_blog.packery_wrapper .blog_post_preview.format-link .blog_post_media--link .blog_post_media__link_text a{
        font-size: 15px;
        line-height: 1.3;
        padding-bottom: 0;
    }
    .gt3_module_blog.packery_wrapper .quote_author,
    .gt3_module_blog.packery_wrapper .blog_post_media__link_text p {
        display: none !important;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1620px){
    .gt3_module_blog.packery_wrapper .blog_post_preview.format-quote .packery_content_wrap,
    .gt3_module_blog.packery_wrapper .blog_post_preview.format-link .packery_content_wrap{
        bottom: 95px;
    }
}

@media only screen and (max-width: 600px){
    .portfolio_wrapper.show_type_packery .isotope_item {
        width: 100% !important;
    }
}
@media only screen and (max-width: 767px){
}