    /*
    Flaticon icon font: Flaticon
    Creation date: 04/09/2018 09:24
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-bag:before { content: "\f100"; }
.flaticon-search:before { content: "\f101"; }
.flaticon-close:before { content: "\f102"; }
.flaticon-back:before { content: "\f103"; }
.flaticon-next:before { content: "\f104"; }
.flaticon-roof:before { content: "\f105"; }
.flaticon-below:before { content: "\f106"; }
.flaticon-link:before { content: "\f107"; }
.flaticon-home-repair:before { content: "\f108"; }
.flaticon-shopping-bag:before { content: "\f109"; }
.flaticon-like:before { content: "\f10a"; }
.flaticon-close-1:before { content: "\f10b"; }
.flaticon-recycle-bin:before { content: "\f10c"; }
.flaticon-back-1:before { content: "\f10d"; }
.flaticon-arrow:before { content: "\f10e"; }
.flaticon-random:before { content: "\f10f"; }
.flaticon-eye:before { content: "\f110"; }
.flaticon-heart:before { content: "\f111"; }
.flaticon-sort:before { content: "\f112"; }
    
    $font-Flaticon-bag: "\f100";
    $font-Flaticon-search: "\f101";
    $font-Flaticon-close: "\f102";
    $font-Flaticon-back: "\f103";
    $font-Flaticon-next: "\f104";
    $font-Flaticon-roof: "\f105";
    $font-Flaticon-below: "\f106";
    $font-Flaticon-link: "\f107";
    $font-Flaticon-home-repair: "\f108";
    $font-Flaticon-shopping-bag: "\f109";
    $font-Flaticon-like: "\f10a";
    $font-Flaticon-close-1: "\f10b";
    $font-Flaticon-recycle-bin: "\f10c";
    $font-Flaticon-back-1: "\f10d";
    $font-Flaticon-arrow: "\f10e";
    $font-Flaticon-random: "\f10f";
    $font-Flaticon-eye: "\f110";
    $font-Flaticon-heart: "\f111";
    $font-Flaticon-sort: "\f112";