	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/09/2018 09:24
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-bag:before { content: "\f100"; }
.flaticon-search:before { content: "\f101"; }
.flaticon-close:before { content: "\f102"; }
.flaticon-back:before { content: "\f103"; }
.flaticon-next:before { content: "\f104"; }
.flaticon-roof:before { content: "\f105"; }
.flaticon-below:before { content: "\f106"; }
.flaticon-link:before { content: "\f107"; }
.flaticon-home-repair:before { content: "\f108"; }
.flaticon-shopping-bag:before { content: "\f109"; }
.flaticon-like:before { content: "\f10a"; }
.flaticon-close-1:before { content: "\f10b"; }
.flaticon-recycle-bin:before { content: "\f10c"; }
.flaticon-back-1:before { content: "\f10d"; }
.flaticon-arrow:before { content: "\f10e"; }
.flaticon-random:before { content: "\f10f"; }
.flaticon-eye:before { content: "\f110"; }
.flaticon-heart:before { content: "\f111"; }
.flaticon-sort:before { content: "\f112"; }