/*
Flaticon icon font: Flaticon
Creation date: 09/08/2017 11:50
*/

@font-face {
	font-family: "Theme_icon";
	src: url("Flaticon.eot");
	src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
		 url("Flaticon.woff") format("woff"),
		 url("Flaticon.ttf") format("truetype"),
		 url("Flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Theme_icon";
		src: url("Flaticon.svg#Flaticon") format("svg");
	}
}

[class^="theme_icon-"]:before, [class*=" theme_icon-"]:before,
[class^="theme_icon-"]:after, [class*=" theme_icon-"]:after {
	font-family: Theme_icon;
	font-size: 26px;
	font-style: normal;
	margin-left: 9px;
}

.theme_icon-shopping-bag:before { content: "\f100"; }       /* Bag            - https://www.flaticon.com/free-icon/shopping-bag_142605 */
.theme_icon-search:before { content: "\f101"; }				/* Search     	  - https://www.flaticon.com/free-icon/magnifying-glass_126474 */
.theme_icon-close:before { content: "\f102"; }				/* Close 		  - https://www.flaticon.com/free-icon/cross_59836 */
.theme_icon-back:before { content: "\f103"; }			    /* Left Arrow 	  - https://www.flaticon.com/free-icon/left-arrow_271220 */
.theme_icon-next:before { content: "\f104"; }		        /* Right Arrow 	  - https://www.flaticon.com/free-icon/right-arrow_271228 */
.theme_icon-roof:before { content: "\f105"; }				/* Up Arrow   	  - https://www.flaticon.com/free-icon/caret-symbol_26003 */
.theme_icon-below:before { content: "\f106"; }				/* Down Arrow     - https://www.flaticon.com/free-icon/down-arrow_26046 */
.theme_icon-link:before { content: "\f107"; }		        /* Chains Link    - https://www.flaticon.com/free-icon/link-symbol_25385 */
.theme_icon-home-repair:before { content: "\f108"; }		/* Ruller         - https://www.flaticon.com/free-icon/ruler_474993 */
.theme_icon-bag:before { content: "\f109"; }				/* Bag 2          - https://www.flaticon.com/free-icon/shopping-bag_711895 */
.theme_icon-like:before { content: "\f10a"; }				/* Star 		  - https://www.flaticon.com/free-icon/star-favourite_13977 */
.theme_icon-close-1:before { content: "\f10b"; }		    /* Close btn 	  - https://www.flaticon.com/free-icon/close-button_8934 */
.theme_icon-recycle-bin:before { content: "\f10c"; }        /* Garbage        - https://www.flaticon.com/free-icon/recycling-bin_73806 */
.theme_icon-back-1:before { content: "\f10d"; }             /* Arrow Circle L - https://www.flaticon.com/free-icon/back-arrow-circular-symbol_51970 */
.theme_icon-arrow:before { content: "\f10e"; }              /* Arrow Circle R - https://www.flaticon.com/free-icon/right-arrow-circular-button_52284 */
.theme_icon-random:before { content: "\f10f"; }             /* Compare        - https://www.flaticon.com/free-icon/shuffle_159781 */
.theme_icon-eye:before { content: "\f110"; }                /* Quick View     - https://www.flaticon.com/free-icon */
.theme_icon-heart:before { content: "\f111"; }				/* Heart     	  - https://www.flaticon.com/free-icon */
.theme_icon-sort:before { content: "\f112"; }				/* Sort     	  - https://www.flaticon.com/free-icon */
